@import './Styles/index';

@font-face {
    font-family: GT-Bold;
    src: url("./Styles/fonts/GTAmericaBold.ttf");
}

@font-face {
    font-family: GT-BoldItalic;
    src: url("./Styles/fonts/GTAmericaBoldItalic.ttf");
}

@font-face {
    font-family: GT-Regular;
    src: url("./Styles/fonts/GTAmericaRegular.ttf");
}

body {
    font-family: GT-Regular;
}